
*{
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  font-family: "Signika Negative", sans-serif;

}


main{
  color:white;
  background-color: #000d33;
  max-width: 100% !important;
    overflow-x: hidden !important;
    height: 100%;
}

.home{
  background-size: 100% 100%;
  height: 500px;
    }
  

.bienvenidos{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
padding-top: 15px;
width: 100%;

  }


.centrarImagenEnModal{
  display: flex;
  justify-content: center;
}

.titulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color:  #cce6ff;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
}


.layoutfooter{
  background-color:  #cce6ff;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.contactofooter{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 30px;

  }

.contacto{
display: flex;
justify-content: center;
color: white;
background-color:#000d33
}


.textarea{
  display: flex;
  justify-content: center;
  width: 80%;
overflow-x:hidden;
  }

.formularioContacto{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: "#000d33"
}


#submit{
  font-size: 30px;
  color: blue;
  background-color: white;
  width: 150px;
  height: 50px;
}


.bienvenido{
  display: flex;
  justify-content: center;
  height: 700px;
  display: flex;
  justify-content: center;
  padding: 100px;
}


.jugadores{
  height: 850px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width:100%;
}


.layoutjugadores{
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 800px
}


.posiciones ul br {
  display: flex;
  flex-direction: column;
  align-self: center;
  display: none
}

.navs{
  display: flex;
  flex-direction: column;
  align-self: center;
}



.equipo{
  width: 100%;
  height: 850px;
  background-size: 100% 100%;
}

.dts{
  width: 100%;
  height: 850px;
  background-size: 100% 100%;
}

.layoutdts{
  display: flex;
  justify-content: space-around;
  height: 800px;
}

.clubes{
  width: 100%;
  height: 850px;
  background-size: 100% 100%;
}

.layoutclubes{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  height: 800px;
}


.decadas img{
  width: 100%;
}

.coloraño{
  color: black;
  display: flex;
  justify-content: center;
}






/*  MEDIA QUERIES   */

@media (max-width: 756px) {
  main{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 555px) {
  .titulo nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}}


@media (max-width: 885px) {
  .bienvenidos {
    width: 100%;
    font-size: 25px
  }
}

@media (max-width: 600px) {
  .bienvenidos {
    width: 100%;
    font-size: 15px
  }
}

@media (max-width: 555px) {
  .posiciones {
    display: flex;
    flex-direction: column;

}}


@media (max-width: 450px) {
  .layoutfooter {
background-color: goldenrod;
display: flex;
justify-content: space-evenly;
padding-left: 30px;
}
}


@media (max-width: 525px) {
  .layoutclubes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 500px;

}}

@media (max-width: 525px) {
  .layoutdts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 500px;

}}


@media (max-width: 589px) {
  .layoutjugadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 500px;
    gap: 30px

}}



@media (max-width: 555px) {
  .cincuentamejores {
    display: flex;
    justify-content: center;
    font-size: 23px

}}

@media (max-width: 555px) {
  .clubdelaño {
    display: flex;
    justify-content: center;
    font-size: 35px

}}

@media (max-width: 496px) {
  .clubesmasgrandes {
    display: flex;
    justify-content: center;
    font-size: 23px

}}

@media (max-width: 601px) {
  .dts50mejores {
    display: flex;
    justify-content: center;
    font-size: 22px

}}

@media (max-width: 437px) {
  .dts50mejores {
    display: flex;
    justify-content: center;
    font-size: 18px

}
.dts50mejoresletra {
  font-size: 16px;
}
}