
*{
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  font-family: "Signika Negative", sans-serif;

}


main{
  color:white;
  background-color: rgb(0, 19, 71);
  max-width: 100% !important;
    overflow-x: hidden !important;
    height: 100%;
}

@media (max-width: 756px) {
  main{
    display: flex;
    flex-direction: column;
  }
}

.home{
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)),url(./assets/img/futbolargentino.jpg)  no-repeat ;
  background-size: 100% 100%;
  height: 500px;
    }
  




.bienvenidos{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
padding-top: 15px;
width: 100%;

  }

  @media (max-width: 885px) {
    .bienvenidos {
      width: 100%;
      font-size: 25px
    }
  }

  @media (max-width: 600px) {
    .bienvenidos {
      width: 100%;
      font-size: 15px
    }
  }






.centrarImagenEnModal{
  display: flex;
  justify-content: center;
}

.titulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(179, 192, 207);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}


@media (max-width: 555px) {
  .titulo nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}}





.layoutfooter{
  background-color: goldenrod;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;

}

.contactofooter{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 30px;

  }

  @media (max-width: 450px) {
    .layoutfooter {
  background-color: goldenrod;
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;


  }

 

}

.contacto{
display: flex;
justify-content: center;
color: white;
}


.textarea{
  display: flex;
  justify-content: center;
  width: 80%;
overflow-x:hidden;
  }

  







.formularioContacto{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 19, 71);
}


#submit{
  font-size: 30px;
  color: blue;
  background-color: white;
  width: 150px;
  height: 50px;
}


.bienvenido{
  height: 600px;
  display: flex;
  justify-content: center;
  padding: 100px;
}


.jugadores{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)),url(./assets/img/maradona.jpg) ;
  height: 850px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width:100%;
  
}


@media (max-width: 555px) {
  .posiciones {
    display: flex;
    flex-direction: column;

}

.posiciones ul br {
  display: flex;
  flex-direction: column;
  align-self: center;
  display: none
}

.navs{
  display: flex;
  flex-direction: column;
  align-self: center;
}

}





.equipo{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)),url(./assets/img/equipoargentina.jpg)  ;
  width: 100%;
  height: 850px;
  background-size: 100% 100%;
}

.dts{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)),url(./assets/img/dt.jpg)  ;
  width: 100%;
  height: 850px;
  background-size: 100% 100%;
}

.clubes{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)),url(./assets/img/clubes.jpg) ;
  width: 100%;
  height: 850px;
  background-size: 100% 100%;
}


.decadas img{
  width: 100%;
}

.coloraño{
  color: black;
  display: flex;
  justify-content: center;
}


@media (max-width: 555px) {
  .cincuentamejores {
    display: flex;
    justify-content: center;
    font-size: 23px

}}

@media (max-width: 555px) {
  .clubdelaño {
    display: flex;
    justify-content: center;
    font-size: 35px

}}

@media (max-width: 496px) {
  .clubesmasgrandes {
    display: flex;
    justify-content: center;
    font-size: 23px

}}

@media (max-width: 601px) {
  .dts50mejores {
    display: flex;
    justify-content: center;
    font-size: 22px

}}

@media (max-width: 437px) {
  .dts50mejores {
    display: flex;
    justify-content: center;
    font-size: 18px

}
.dts50mejoresletra {
  font-size: 16px;

}

}